.breadcrumbs {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #808080;
    margin: 0 0 17px 0;
}
.title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 22px 0;
}
.subtitle {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 0 0 32px 0;
}
.about {
    border-top: 1px solid #000;
    padding-top: 8px;
}
.about__title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 22px 0;
}
.item {
    margin: 0 0 67px 0;
}
.item__title {
    font-family: 'Fjalla One',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin: 9px 0 5px 0;
}
.item__text {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

@media (min-width: 768px) {
    .title {
        font-family: 'Fjalla One', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 110px;
        line-height: 110px;
        text-transform: uppercase;
        color: #000000;
        padding: 57px 0 48px 0;
        margin: 0;
    }
    .subtitle {
        max-width: 1000px;
        margin: 48px 0 73px 0;
        font-size: 28px;
        line-height: 36px;
    }
    .about {
        padding-top: 12px;
        display: flex;
        align-items: flex-start;
    }
    .about__title {
        font-size: 110px;
        line-height: 110px;
        margin: 0 64px 0 0;
    }
    .item {
        margin: 0 0 104px 0;
    }
    .item:last-of-type {
        margin: 0 0 280px 0;
    }
    .item__title {
        font-size: 30px;
        line-height: 38px;
        margin: 21px 0 5px 0;
    }
    .item__text {
        font-size: 18px;
        line-height: 23px;
        max-width: 320px;
    }
}