.bar {
    display: none;
}

@media (min-width: 768px) {
    .bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1340px;
        margin: 0 auto;
        width: 100%;
        height: 63px;
        border-bottom: 1px solid #000;
        overflow: hidden;
    }
    .plus__btn {
        display: flex;
        align-items: center;
    }
    .icon {
        position: relative;
        width: 40px;
        height: 40px;
        background: #000;
        border-radius: 50%;
        cursor: pointer;
    }
    .icon:hover {
        background: #282828
    }
    .h {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) rotate(90deg);
        width: 2px;
        height: 16px;
        background: #F9F8F8;
        border-radius: 2px;
    }
    .v {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) rotate(-180deg);
        width: 2px;
        height: 16px;
        background: #F9F8F8;
        border-radius: 2px;
    }
    .text {
        font-family: 'KoHo', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
        margin: 0 0 0 16px;
    }
    .close__btn {
        font-family: 'KoHo', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        color: #000000;
        cursor: pointer;
    }
    .close__btn:hover {
        color: #282828;
    }
}

