.breadcrumbs {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #808080;
    padding: 0 0 17px 0;
}
.title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 30px 0;
}
.addCatalog__btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter__icon {
    cursor: pointer;
}
.addCatalog__btn {
    display: flex;
    align-items: center;
    padding: 6px 15px;
    background: #000;
    border-radius: 30px;
    cursor: pointer;
}
.btn__text {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FCFCFC;
}

@media (min-width: 768px) {
    .breadcrumbs {
        padding: 10px 0 35px 0;
    }
    .title {
        font-size: 110px;
        line-height: 110px;
        margin: 0 0 30px 0;
    }
    .btn__text {
        font-size: 20px;
        line-height: 20px;
    }
    .addCatalog__btn_wrap {
        justify-content: unset;
    }
    .addCatalog__btn {
        height: 40px;
        cursor: pointer;
    }
    .btn__icon {
        width: 8px;
        height: 8px;
        background: #FFF;
        border-radius: 50%;
        margin: 0 0 0 28px;
        transition: .3s ease-in-out;
        cursor: pointer;
    }
    .addCatalog__btn:hover .btn__icon {
        transform: scale(3.5);
    }
    .addCatalog__text {
        font-family: 'KoHo', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #808080;
        max-width: 242px;
        margin: 0 0 0 16px;
    }
}