.hero__breadcrumbs {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #808080;
    padding: 0 0 17px 0;
}
.hero__title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 30px 0;
}
.hero__addCatalog__btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__filter__icon {
    cursor: pointer;
}
.hero__addCatalog__btn {
    display: flex;
    align-items: center;
    padding: 6px 15px;
    background: #000;
    border-radius: 30px;
    cursor: pointer;
}
.hero__btn__text {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FCFCFC;
}
.catalog__wrap {
    display: block;
    padding: 0 0 50px 0;
    width: 100%;
}
.catalog__wrap {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    color: #000000;
}
.catalog__items {
    margin: 40px 0 50px 0;
}
.loading {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.item {
    margin: 0 0 50px 0;
}
.item__title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin: 15px 0 0 0;
}
.item__property_type {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #808080;
    margin: 3px 0 9px 0;
}
.catalog__main_image {
    border-radius: 4px;
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    min-height: 300px;
}
.item__country {
    display: flex;
    align-items: center;
}
.country__icon {
    margin: 0 7px 0 0;
    width: 16px;
    height: 16px;
    transform: translateY(-7px);
}
.country {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.item__attributes {
    display: flex;
    align-items: center;
    margin: 11px 0 15px 0;
}
.item__attribute {
    display: flex;
    align-items: center;
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.sqm {
    margin: 0 12px 0 0;
}
.sqm__icon {
    position: relative;
    top: 2px;
}
.sqm__value {
    margin: 0 0 0 4px;
}
.bedrooms {
    margin: 0 13px 0 0;
}
.bedrooms__icon {
    position: relative;
    top: 2px;
}
.bedrooms__value {
    margin: 0 6px 0 0;
}
.bathrooms__icon {
    position: relative;
    top: 2px;
    margin: 0 0 0 6px;
}
.price {
    display: flex;
    align-items: center;
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px 0;
    margin: 0 0 13px 0;
}
.price__currency {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin: 0 14px 0 0;
    border: none;
}
.price__value {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
}
.item__btn {
    display: inline-block;
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FCFCFC;
    padding: 10px 15px;
    background: #000;
    border-radius: 50px;
    width: auto;
    cursor: pointer;
}
.items__more_btn {
    display: block;
    width: 100%;
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FCFCFC;
    border-radius: 50px;
    padding: 10px 0;
    border: 0;
    background: #000;
    cursor: pointer;
}
.catalog__main_image img {
    object-fit: cover;
    object-position: left;
}
.item__info {
    cursor: pointer;
}

/*FILTER*/
.sidebar__title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    text-transform: uppercase;
    color: #000000;
    padding: 30px 0 20px 0;
    display: flex;
    justify-content: space-between;
}
.sidebar {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 10000;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFF;
    overflow-y: auto;
    padding: 0 30px 30px 30px;
}
.filter__wrap {
    position: relative;
}
.drop__bar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 53px;
    background: #FCFCFC;
    border-top: 1px solid #000;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.drop__bar:hover {
    background: #F9F8F8;
    transition: .2s ease-in-out;
}
.drop__bar_picked {
    background: #000;
}
.drop__bar_picked:hover {
    background: #282828;
}
.drop__bar_picked:hover .clear {
    color: #FFF;
}
.filter__title {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000;
    margin: 0 0 0 13px;
    width: 58%;
}
.sidebar__close {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
}
.filter__title_picked {
    color: #FFF;
}
.clear {
    position: absolute;
    right: 70px;
    top: 17px;
    z-index: 100;
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #808080;
    margin: 0 0 0 auto;
}
.clear:hover {
    color: #FFF;
}
.filter__icon {
    margin: 0 22px 0 0;
    transition: .2s ease-in-out;
}
.filter__icon_open {
    margin: 0 22px 0 0;
    transform: scale(1, -1) ;
    transition: .2s ease-in-out;
}
.filter__list {
    margin: 16px 0 15px;
}
.filter__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 23px 0 13px;
    height: 40px;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.filter__item:hover {
    background: #F9F8F8;
    transition: .2s ease-in-out;
}
.filter__name {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}
.filter__checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    cursor: pointer;
}
.filter__checkbox_checked {
    position: absolute;
    background: #000;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.filter__interval {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 13px;
    position: relative;
}
.currency {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin: 9px 0 15px 13px;
}
.number__input {
    width: 50%;
}
.input__number {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    border: 1px solid #808080;
    border-radius: 4px;
    height: 39px;
    width: 100%;
}
.number__input:last-of-type {
    margin: 0 0 0 6px;
}
.label {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #808080;
    text-transform: capitalize;
    margin: 4px 0 0 0;
}
.input__number_picked {
    background: #000;
    color: #FCFCFC;
}
.filter__item:last-of-type .filter__name_attribute:after {
    content: '+';
    position: absolute;
    margin: 0 0 0 2px;
}

@media (min-width: 768px) {
    .catalog__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .hero__breadcrumbs {
        padding: 10px 0 35px 0;
    }
    .hero__title {
        font-size: 110px;
        line-height: 110px;
        margin: 0 0 30px 0;
    }
    .hero__btn__text {
        font-size: 20px;
        line-height: 20px;
    }
    .hero__addCatalog__btn_wrap {
        justify-content: unset;
    }
    .hero__addCatalog__btn {
        height: 40px;
        cursor: pointer;
        position: relative;
    }
    .hero__btn__icon {
        width: 8px;
        height: 8px;
        background: #FFF;
        border-radius: 50%;
        margin: 0 0 0 28px;
        transition: .3s ease-in-out;
        cursor: pointer;
    }
    .hero__addCatalog__btn:hover .hero__btn__icon {
        transform: scale(3.5);
    }
    .hero__addCatalog__btn:active .hero__btn__text:after {
        position: absolute;
        right: 16px;
        top: 8px;
        width: 8px;
        height: 8px;
        z-index: 10;
        content: url("data:image/svg+xml;charset=UTF-8, <svg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.292893 9.29289C-0.0976311 9.68342 -0.0976311 10.3166 0.292893 10.7071C0.683418 11.0976 1.31658 11.0976 1.70711 10.7071L0.292893 9.29289ZM11 1C11 0.447716 10.5523 3.00139e-07 10 7.21607e-07L1 5.10873e-07C0.447715 5.10873e-07 -3.8724e-07 0.447716 -3.8724e-07 1C-3.8724e-07 1.55229 0.447715 2 1 2L9 2L9 10C9 10.5523 9.44771 11 10 11C10.5523 11 11 10.5523 11 10L11 1ZM1.70711 10.7071L10.7071 1.70711L9.29289 0.292894L0.292893 9.29289L1.70711 10.7071Z' fill='black'/></svg>");
    }
    .hero__addCatalog__text {
        font-family: 'KoHo', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #808080;
        max-width: 242px;
        margin: 0 0 0 16px;
    }
    .wrapper {
        display: block;
    }
    .catalog__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        max-width: 1000px;
        border-bottom: 1px solid #000;
    }
    .price {
        margin: 0 0 29px 0;
    }
    .price__currency {
        font-size: 18px;
        line-height: 23px;
    }
    .price__value {
        font-size: 20px;
        line-height: 20px;
    }
    .item__title {
        font-size: 30px;
        line-height: 38px;
        margin: 21px 0 0 0;
    }
    .item__property_type {
        margin: -1px 0 24px 0;
    }
    .item__attributes {
        display: flex;
        align-items: center;
        margin: 14px 0 29px 0;
    }
    .country__icon {
        margin: 0 8px 0 0;
        width: 19px;
        height: 19px;
        transform: translateY(-6px);
    }
    .item__gallery {
        width: 100%;
    }
    .item__info {
        padding: 5px 5px 27px 5px;
        border-radius: 4px;
    }
    .item__info:hover {
        background: #FCFCFC;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
    .item:nth-child(7n+1) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'info gallery gallery';
        grid-column: 1/-1;
        grid-gap: 20px;
    }
    .item:nth-child(7n+1) .item__info {
        display: block;
        width: 100%;
        grid-area: info;
    }
    .item:nth-child(7n+1) .item__gallery {
        display: block;
        width: 100%;
        grid-area: gallery;
        padding: 4px 0 0 0;
    }
    .slide__image {
        position: relative;
        display: block;
        height: 560px;
    }
    .item:not(:nth-child(7n+1)) .item__gallery {
        display: none;
    }
    .slide__image img {
        object-fit: cover;
        object-position: center;
    }
    .items__more_btn {
        width: 242px;
        margin: 0 auto;
    }
    /*  FILTER  */
    .sidebar {
        position: relative;
        top: unset;
        left: unset;
        padding: unset;
        max-width: 320px;
        width: 50%;
        margin: 44px 0 40px 20px;
    }
}

@media (min-width: 1440px) {
    .bedrooms__icon {
        top: unset;
    }
    .bathrooms__icon {
        top: unset;
    }
}