.sidebar {
    max-width: 320px;
    width: 50%;
    margin: 40px 0 0 20px;
}
.country__filter {

}
.country__drop_bar {
    display: flex;
    align-items: center;
    height: 53px;
}
.country__title {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000;
    margin: 0 0 0 13px;
}
.country__clear {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #808080;
    margin: 0 36px 0 auto;
}
.country__icon {
    margin: 0 22px 0 0;
}
.country__list {
    margin: 0 0 15px;
}
.country__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 13px;
    height: 40px;
}
.country__name {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}