.banner {
    padding: 0 0 121px 0;
}
.hero__img {
    border-radius: 4px;
}
.title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    max-width: 270px;
    margin: 20px auto 23px;
}
.link {
    display: flex;
    justify-content: center;
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    cursor: pointer;
}

@media (min-width: 768px) {
    .banner {
        padding: 0 0 277px 0;
    }
    .hero__img {
        border-radius: 0;
    }
    .title {
        font-size: 110px;
        line-height: 110px;
        max-width: 988px;
        margin: 41px auto 32px;
    }
    .subtitle {
        font-family: 'Fjalla One', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
        text-align: center;
        color: #000000;
        margin: 0 auto 13px;
    }
    .link {
        font-size: 20px;
        line-height: 26px;
    }
}