.location {
    margin: 0 0 38px 0;
}
.title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin: 0 0 15px 0;
}
.text {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 0 0 11px 0;
}
.map {

}