.grid {
    display: grid;
    border-top: 1px solid #000;
}
.title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    text-transform: uppercase;
    color: #000000;
    margin: 8px 0 24px 0;
}
.item {
    margin: 0 0 40px 0;
}
.item__image {
    border-radius: 4px;
    overflow: hidden;
}
.item__title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin: 9px 0 5px 0;
}
.item__text {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 0 0 16px 0;
}
.item__btn {
    width: 117px;
    height: 37px;
    background: #000000;
    border-radius: 50px;
    cursor: pointer;
}
.btn__text {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FCFCFC;
}
.btn__icon {
    display: none;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: 320px 1fr;
    }
    .title {
        font-size: 110px;
        line-height: 110px;
    }
    .item__title {
        font-size: 30px;
        line-height: 38px;
        margin: 25px 0 10px 0;
    }
    .item__text {
        font-size: 18px;
        line-height: 23px;
        margin:  0 0 25px 0;
        max-width: 320px;
    }
    .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'management management family'
                             '. metal metal'
                             'capital realEstate realEstate';
        margin: 16px 0 277px 0;
    }
    .item {
        margin: 0 0 150px 20px;
    }
    .item:nth-child(1) {
        grid-area: management;
    }
    .item:nth-child(2) {
        grid-area: family;
    }
    .item:nth-child(3) {
         grid-area: metal;
    }
    .item:nth-child(4) {
        grid-area: capital;
    }
    .item:nth-child(5) {
        grid-area: realEstate;
    }
    .item__btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 193px;
        height: 40px;
    }
    .btn__text {
        font-size: 20px;
        line-height: 38px;
    }
    .btn__icon {
        display: block;
        width: 8px;
        height: 8px;
        background: #FFF;
        border-radius: 50%;
        margin: 0 0 0 28px;
        transition: .3s ease-in-out;
    }
    .item__btn:active .btn__text:after {
        position: absolute;
        right: 17px;
        top: -1px;
        width: 8px;
        height: 8px;
        z-index: 10;
        content: url("data:image/svg+xml;charset=UTF-8, <svg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.292893 9.29289C-0.0976311 9.68342 -0.0976311 10.3166 0.292893 10.7071C0.683418 11.0976 1.31658 11.0976 1.70711 10.7071L0.292893 9.29289ZM11 1C11 0.447716 10.5523 3.00139e-07 10 7.21607e-07L1 5.10873e-07C0.447715 5.10873e-07 -3.8724e-07 0.447716 -3.8724e-07 1C-3.8724e-07 1.55229 0.447715 2 1 2L9 2L9 10C9 10.5523 9.44771 11 10 11C10.5523 11 11 10.5523 11 10L11 1ZM1.70711 10.7071L10.7071 1.70711L9.29289 0.292894L0.292893 9.29289L1.70711 10.7071Z' fill='black'/></svg>");
    }
    .item__btn:hover .btn__icon {
        transform: scale(3.5);
    }
}