.near {
    margin: 0 0 38px 0;
}
.title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin: 0 0 15px 0;
}
.slide__image {
    position: relative;
    height: 300px;
}