.titleAndSlider {
    display: flex;
    flex-direction: column-reverse;
}
.slide__image {
    position: relative;
    display: block;
    height: 300px;
    border-radius: 2px;
    overflow: hidden;
}
.slide__image img {
    object-fit: cover;
    object-position: center;
}
.title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    text-transform: uppercase;
    color: #000000;
    margin: 25px 0 10px 0;
}
.property__props {
    display: flex;
    align-items: center;
}
.property__type_wrap {
    display: flex;
    align-items: center;
}
.property__address_wrap {
    display: flex;
    align-items: center;
}
.property__address_wrap {
    margin: 0 0 0 20px;
}
.property__type_icon img {
    filter: opacity(0.5);
}
.property__address_icon img {
    filter: opacity(0.5);
}
.property__type {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #808080;
    margin: 0 0 0 5px;
}
.property__address {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #808080;
    margin: 0 0 0 5px;
}
.property__info {
    margin: 11px 0 37px 0;
}
.price__wrap {
    display: flex;
    align-items: center;
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.currency {
    margin: 0 0 0 20px;
}
.desc {
    margin: 60px 0 38px 0;
}
.desc__title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin: 0 0 15px 0;
}
.desc__text {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}
.spec__title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin: 0 0 25px 0;
}
.desc__item_title_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item {
    border-top: 1px solid #808080;;
}
.desc__item_title {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin: 7px 0 7px 0;
}
.desc__item_title_icon_minus {
    position: relative;
    bottom: 10px;
}
.desc__item_title_icon_plus {
    position: relative;
    bottom: 3px;
}
.item__mainRooms {
    display: flex;
    align-items: center;
    margin: 0 0 11px 0;
}
.item__value {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid #000;
    width: 23px;
    height: 23px;
}
.item__name {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 0 12px;
}
.spec {
    margin: 0 0 52px 0;
}
.breadcrumbs {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #808080;
    margin: 0 0 17px 0;
}

@media (min-width: 768px) {
    .title {
        font-size: 35px;
        line-height: 44px;
        margin: 55px 0 41px 0;
    }
    .property__props {
        margin: 0 0 15px 0;
    }
    .property__address {
        font-size: 20px;
        line-height: 26px;
        color: #000;
    }
    .property__type {
        font-size: 20px;
        line-height: 26px;
        color: #000;
    }
    .property__address_icon img {
        filter: none;
    }
    .property__type_icon img {
        filter: none;
    }
    .gallery__slider {
        position: relative;
        max-width: 1000px;
        width: 100%;
    }
    .titleAndSliderAndInfo {
        display: flex;
    }
    .property__info {
        margin: 0 0 0 20px;
    }
    .titleAndSlider {
        display: flex;
        flex-direction: column;
    }
    .slide__image {
        position: relative;
        display: block;
        height: 620px;
    }
    .slide__image img {
        object-fit: cover;
        object-position: left;
    }
    .slide__thumb_image {
        position: relative;
        display: block;
        height: 126px;
        width: 150px;
    }
    .slide__thumb_image img {
        object-fit: cover;
        object-position: left;
        border-radius: 4px;
        overflow: hidden;
    }
}