.titleAndSlider {
    display: flex;
    flex-direction: column-reverse;
}
.slide__image {
    position: relative;
    display: block;
    height: 300px;
    border-radius: 2px;
    overflow: hidden;
}
.slide__image img {
    object-fit: cover;
    object-position: center;
}
.title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    text-transform: uppercase;
    color: #000000;
    margin: 25px 0 10px 0;
}
.property__props {
    display: flex;
    align-items: center;
}
.property__type_wrap {
    display: flex;
    align-items: center;
}
.property__address_wrap {
    display: flex;
    align-items: center;
}
.property__address_wrap {
    margin: 0 0 0 20px;
}
.property__type_icon img {
    filter: opacity(0.5);
}
.property__address_icon img {
    filter: opacity(0.5);
}
.property__type {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #808080;
    margin: 0 0 0 5px;
}
.property__address {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #808080;
    margin: 0 0 0 5px;
}
.property__info {
    margin: 11px 0 37px 0;
    width: 100%;
}
.price__wrap {
    display: flex;
    align-items: center;
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin: 0 0 37px 0;
}
.currency {
    margin: 0 0 0 20px;
}
.square {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    padding: 6px 0 8px 0;
    border-top: 1px solid #808080;
}
.sqmPerM {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    padding: 6px 0 8px 0;
    border-top: 1px solid #808080;
}
.floor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    padding: 6px 0 8px 0;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    margin: 0 0 18px 0;
}
.tags {
    display: flex;
    align-items: center;
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin: 0 0 9px 0;
}
.tags__value {
    margin: 0 0 0 12px;
}
.desc {
    margin: 60px 0 38px 0;
}
.desc__title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin: 0 0 15px 0;
}
.desc__text {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}
.spec__title {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin: 0 0 25px 0;
}
.desc__item_title_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item {
    border-top: 1px solid #808080;;
}
.desc__item_title {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin: 7px 0 7px 0;
}
.desc__item_title_icon_minus {
    position: relative;
    bottom: 10px;
}
.desc__item_title_icon_plus {
    position: relative;
    bottom: 3px;
}
.item__mainRooms {
    display: flex;
    align-items: center;
    margin: 0 0 11px 0;
}
.item__value {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid #000;
    width: 23px;
    height: 23px;
}
.item__name {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 0 12px;
}
.spec {
    margin: 0;
}
.breadcrumbs {
    font-family: 'KoHo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #808080;
    margin: 0 0 17px 0;
}

@media (min-width: 768px) {
    .breadcrumbs {
        padding: 11px 0 0 0;
    }
    .leftColumn {
        max-width: calc(100vw - 320px);
    }
    .title {
        font-size: 35px;
        line-height: 44px;
        margin: 35px 0 41px 0;
    }
    .property__props {
        margin: 0 0 15px 0;
        font-size: 20px;
        line-height: 26px;
    }
    .price__wrap {
        align-items: flex-end;
    }
    .price {
        font-size: 36px;
        line-height: 36px;
    }
    .currency {
        font-size: 18px;
        line-height: 23px;
    }
    .square {
        font-size: 20px;
        line-height: 26px;
    }
    .sqmPerM {
        font-size: 20px;
        line-height: 26px;
    }
    .floor {
        font-size: 20px;
        line-height: 26px;
    }
    .tags {
        font-size: 18px;
        line-height: 23px;
    }
    .desc__title {
        font-size: 30px;
        line-height: 38px;
        border-top: 1px solid #000;
        padding: 16px 0 0 0;
    }
    .desc__text {
        font-size: 18px;
        line-height: 23px;
    }
    .spec {
        border-top: 1px solid #000;
        padding: 16px 0 0 0;
    }
    .spec__title {
        font-size: 30px;
        line-height: 38px;
        padding: 16px 0 0 0;
    }
    .desc__item_title {
        font-size: 18px;
        line-height: 23px;
    }
    .property__address {
        font-size: 20px;
        line-height: 26px;
        color: #000;
    }
    .property__type {
        font-size: 20px;
        line-height: 26px;
        color: #000;
    }
    .property__address_icon img {
        filter: none;
    }
    .property__type_icon img {
        filter: none;
    }
    .gallery__slider {
        position: relative;
        max-width: calc(100vw - 320px);
        width: 100%;
    }
    .titleAndSliderAndInfo {
        display: flex;
    }
    .property__info {
        margin: 181px 0 0 20px;
    }
    .titleAndSlider {
        display: flex;
        flex-direction: column;
    }
    .slide__image {
        position: relative;
        display: block;
        height: 620px;
    }
    .slide__image img {
        object-fit: cover;
        object-position: left;
    }
    .slide__thumb_image {
        position: relative;
        display: block;
        height: 126px;
        width: 150px;
    }
    .slide__thumb_image img {
        object-fit: cover;
        object-position: left;
        border-radius: 4px;
        overflow: hidden;
    }
    .manager {
        display: flex;
        align-items: flex-start;
        margin: 120px 0 0 0;
    }
    .manager__info {
        margin: 0 0 0 10px;
    }
    .manager__img {
        width: 76px;
        height: 108px;
    }
    .manager__img img {
        display: block;
        width: 100%;
    }
    .manager__title {
        font-family: 'KoHo', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
    }
    .manager__name {
        font-family: 'KoHo', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
        margin: 0 0 24px 0;
    }
    .manager__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #000;
        border-radius: 20px;
        cursor: pointer;
    }
    .manager__btn_text {
        font-family: 'KoHo', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: right;
        text-transform: uppercase;
        color: #FCFCFC;
        padding: 11px 25px 11px 20px;
    }
    .manager__icon {
        width: 8px;
        height: 8px;
        background: #FFF;
        border-radius: 50%;
        margin: 0 16px 0 0;
        transition: .3s ease-in-out;
    }
    .manager__btn:hover .manager__icon {
        transform: scale(3.5);
    }
}

@media (min-width: 1340px) {
    .gallery__slider {
        max-width: 1000px;
    }
    .leftColumn {
        max-width: 1000px;
    }
}